.input-cnt{
    display: flex;
    position: relative;
}

.input-cnt label{
position: absolute;
left: 24px;
}
label{
    font-size: 12px;
    top: 4px;
}
.span-red{
    position: absolute;
    left: 280px;
    font-size: 12px;
    top: 4px;
}
.error{
    color: red;
}
.text-input{
    margin: 20px;
    width: 309px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    padding: 18px 24px;
    font-size: 14px;
    outline: #CFCFCF;
    border: 1px solid #CFCFCF;
}
.red-input:focus{
    outline: red;
    border: 1px solid red;
}
.text-input::placeholder{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.25px;
    opacity: 0.4;
    padding: 18px 24px;
}
.none{
    display: none;
}

.red-input{
    border: 1px solid red;
    outline: red;
}
.radio-label{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.25px;
}
.radio-input-cnt{
    width: 310px;
    border-radius: 8px;
    border: 1px solid #CFCFCF;
    background: #FFF;
    display: flex;
    align-items: center;
}

.radio-input{
    accent-color: #D87D4A;
    width: 20px;
    height: 20px;
    margin: 19px 16px;
}