:root{
    --color-chokolate100: #D87D4A;
    --color-chokolate-lite: #fbaf85;
    --color-black100: #000000;
    --color-black10: #101010;
    --color-white-lite: #FAFAFA;
    --color-white100: #FFFFFF;
    --color-grey10: #F1F1F1;
    --color-bgblack: #0E0E0E;
}