.main-item-cnt{
    width: 100%;
    padding-left: 10.3rem;


    .back{
        cursor: pointer;
        opacity: 0.5;
        color: var(--color-black100);
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        padding-top: 4.93rem;
        padding-bottom: 3.5rem;
    }

    .item-cnt{
        width: 100%;
        display: flex;
        flex-direction: column;


        .top-section{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 7.8rem;
            padding-bottom: 10rem;
            .picture{
                width: 50%;
                
                picture{
                    width: 100%;
                    img{
                        max-width: 100%;
                    }
                }
            }
    
            .text-cnt{
                max-width: 50%;
                padding-right: 10.3rem;

                .new{
                    padding-bottom: 1rem;
                    span{
                        color: var(--color-chokolate100);
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: 8.571px;
                        text-transform: uppercase;
                    }
                }
    
                h3{
                    max-width: 27.8125rem;
                    color: var(--color-black100);
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 44px;
                    letter-spacing: 1.429px;
                    text-transform: uppercase;
                    padding-bottom: 2rem;
                }
    
                .description{
                    max-width: 27.8125rem;
                    opacity: 0.5;
                    color: var(--color-black100);
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px; 
                    padding-bottom: 2rem;
                }
    
                .price{
                    padding-bottom: 3.875rem;
                    span{
                        color: var(--color-black100);
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 1.286px;
                        text-transform: uppercase;
                    }
                }
    
                .count-addcard{
                    display: flex;
                    column-gap: 1rem;
                }
                
            }
        }

        .bottom-section{
            width: 100%;
            display: flex;
            padding-bottom: 8rem;
            
            .features-cnt{
                width: 58%;
                display: flex;
                flex-direction: column;
                h4{
                    padding-bottom: 2rem;
                    color: var(--color-black100);
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 36px;
                    letter-spacing: 1.143px;
                    text-transform: uppercase;
                }

                p{
                    color: var(--color-black100);
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    opacity: 0.5;
                }
            }

            .box{
                width: 42%;
                padding-left: 8%;
                
                h4{
                    color: var(--color-black100);
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 36px; 
                    letter-spacing: 1.143px;
                    text-transform: uppercase;
                    padding-bottom: 2rem;
                }

                .quantity-item-cnt{
                    width: 100%;
                    display: flex;
                   row-gap: 0.5rem;
                    
                    .includes-cnt{
                        display: flex;
                        flex-direction: column;

                        .quantity-item{
                            display: flex;
                            gap: 10px;

                             .quantity{
                                display: flex;
                                align-items: center;
                                span{
                                    color: var(--color-chokolate100);
                                    font-size: 15px;
                                    font-weight: 700;
                                    line-height: 25px;
                                }
                             }
                             p{
                                display: flex;
                                align-items: center;
                                padding-left: 1.5rem;
                                color: var(--color-black100);
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 25px;
                                opacity: 0.5;
                                text-transform: capitalize;
                             }
                             
                        }
                    }

            
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .main-item-cnt{
        padding-left: 5.8rem;
        .item-cnt{    
            .top-section{
                column-gap: 5rem;
                padding-bottom: 8rem;
                .picture{
                    width: 50%;
                    height: 480px;
                    picture{
                        height: 100%;
                        img{
                            height: 100%;
                        }
                    }
                }
                .text-cnt{
                    padding-right: 4rem;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .main-item-cnt{
        padding-left: 5rem;

        .item-cnt{    
            .top-section{
                column-gap: 4rem;  
                .text-cnt{
                    padding-right: 1.8rem;                   
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .main-item-cnt{
        padding-left: 5rem;

        .item-cnt{    
            .top-section{
                column-gap: 4rem;  
                .text-cnt{
                    padding-right: 1.8rem;
                    h3{
                        font-size: 28px;
                        line-height: 32px;
                    }
                .price{
                    padding-bottom: 2rem;
                }
                }

            }
    
            .bottom-section{
                flex-direction: column;
                
                .features-cnt{
                    width: 100%;
                    padding-right: 2.4375rem;
                }

                .box{
                    width: 100%;
                    padding-top: 7.5rem;
                    padding-bottom: 7rem;
                    padding-right: 2.4rem;
                    transform: translateX(-4%);
                    display: flex;
                    padding-left: 0px;

                    h4{
                        width: 52%;
                        display: flex;
                        text-align: left;
                        padding-left: 2rem;
                        
                    }

                    .quantity-item-cnt{
                        width: 48%;
                        display: flex;
                        justify-content: space-between;
                        row-gap: 0.5rem;
                        
                        .includes-cnt{
                            display: flex;
                            flex-direction: column;
    
                            .quantity-item{
                                display: flex;
                                gap: 10px;
    
                                 .quantity{
                                    display: flex;
                                    align-items: center;
                                    span{
                                        color: var(--color-chokolate100);
                                        font-size: 15px;
                                        font-weight: 700;
                                        line-height: 25px;
                                    }
                                 }
                                 p{
                                    display: flex;
                                    align-items: center;
                                    padding-left: 1.5rem;
                                    color: var(--color-black100);
                                    font-size: 15px;
                                    font-weight: 400;
                                    line-height: 25px;
                                    opacity: 0.5;
                                    text-transform: capitalize;
                                 }
                                 
                            }
                        }
    
                
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .main-item-cnt{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    
        .item-cnt{ 
            padding-left: 1.5rem;   
            .top-section{
                width: 100%;
                flex-direction: column; 
                
                .picture{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                picture{
                    width: 100%;
                    img{
                        width: 90%;
                    }
                }
                .text-cnt{
                    min-width: 100%;
                    padding-top: 2rem;
                    justify-content: start;
                    h3{
                        font-size: 28px;
                        line-height: 32px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .description{
                        min-width: 100%;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 580px) {
    .main-item-cnt{
        .item-cnt{    
            .bottom-section{  
                .box{
                    padding-top: 5.5rem;
                    padding-bottom: 4.8rem;
                    padding-left: 2rem;
                    flex-direction: column;

                    h4{
                        min-width: 100%;
                        transform: translateX(-1%);
                        padding-left: 0rem;      
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main-item-cnt{
        .item-cnt{ 
            .top-section{
                .text-cnt{
                    h3{
                        max-width: 87%;
                        font-size: 28px;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }
                }
            }   
            .bottom-section{  
                padding-bottom: 1rem;
                .features-cnt{
                    h4{
                        font-size: 1.5rem;
                        line-height: 36px; 
                        letter-spacing: 0.857px;
                    }
                }

                .box{
                    padding-top: 5.5rem;
                    padding-bottom: 4.8rem;
                    padding-left: 1.5rem;
                    flex-direction: column;

                    h4{
                        font-size: 1.5rem;
                        line-height: 36px;
                        letter-spacing: 0.857px;     
                    }
                }
            }
        }
    }
}

.item-img-cnt{
    width: 100%;
    padding-bottom: 8rem;

        .gallery-img{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            column-gap: 4%;

            .firs-second-cnt{
                width: 42%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                picture{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }

            .third-img{
                width: 58%;
                picture{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
}


@media screen and (max-width: 480px) {
    .item-img-cnt{
        padding-bottom: 7rem;
            .gallery-img{
                width: 100%;
                display: flex;
                flex-direction: column;
        
                .firs-second-cnt{
                    width: 100%;  
                }
    
                .third-img{
                    width: 100%;
                }
            }
    }
}



