.head-category-section{
    width: 100%;
    background-color: var(--color-black100);
    position: relative;

    .img{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 0;
    }

    h2{
        display: flex;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 1.429px;
        text-transform: uppercase;
        padding: 6.125rem 0;
    }
}

@media screen and (max-width: 1220px) {
    .head-category-section{
    
        .img{
            max-width: 81%;
            display: flex;
            justify-content: center;
            left: 4.8rem;
            right: 4.8rem;
        }
    }
}


@media screen and (max-width: 768px) {
    .head-category-section{
    
        .img{
            max-width: 90%;
            left: 2rem;
            right: 2rem;

            svg{
                opacity: 0.104;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .head-category-section{
    
        .img{
            width: 480px;

            svg{
                width: 200%;
            }
        }
    }
}

