.btn-chokolate{
    font-size: 0.8125rem;
    color: var(--color-white100);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--color-chokolate100);
    padding: 0.9rem 1.9rem;
    border-style: none;
    cursor: pointer;
}

.btn-chokolate:hover{
    background-color: var(--color-chokolate-lite);
}


.btn-white{
    font-size: 0.8125rem;
    color: var(--color-black100);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--color-white100);
    padding: 0.9rem 1.9rem;
    cursor: pointer;
}

.btn-white:hover{
    background-color: var(--color-black100);
    color: var(--color-white100);
}

.btn-shop{
    font-size: 0.8125rem;
    color: var(--color-black100);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--color-white100);
    padding: 0.9rem 1.9rem;
    cursor: pointer;
    position: relative;
    border-style: none;

    svg{
        position: absolute;
        right: 1rem;
    }
}

.btn-shop:hover{
    color: var(--color-chokolate100);
}