.btn-chokolate{
    font-size: 0.8125rem;
    color: var(--color-white100);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--color-chokolate100);
    padding: 0.9rem 1.9rem;
    border-style: none;
    cursor: pointer;
}



.btn-chokolate:hover{
    background-color: var(--color-chokolate-lite);
}


.btn-white{
    font-size: 0.8125rem;
    color: var(--color-black100);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--color-white100);
    padding: 0.9rem 1.9rem;
    cursor: pointer;
}


.btn-white:hover{
    background-color: var(--color-black100);
    color: var(--color-white100);
}



.btn-shop{
    font-size: 0.8125rem;
    color: var(--color-black100);
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--color-white100);
    padding: 0.9rem 1.9rem;
    cursor: pointer;
    position: relative;
    border-style: none;
    opacity: 0.5;

    svg{
        position: absolute;
        right: 1rem;
    }
}

.btn-shop:hover{
    color: var(--color-chokolate100);
}


.btn-grey{
    background-color: #4C4C4C;
    font-size: 0.8125rem;
    color: var(--color-white100);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0.9rem 1.9rem;
    border-style: none;
    cursor: pointer;
}

.btn-grey:hover{
    background-color: #8a8989;
}

.btn-black{
    max-width: 170px;
    background-color: var(--color-black100);
    font-size: 0.8125rem;
    color: var(--color-white100);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0.9rem 1.9rem;
    border-style: none;
    cursor: pointer;
}

.btn-black:hover{
    background-color: rgb(41, 41, 41);
}

.btn-transparent{
    font-size: 0.8125rem;
    color: var(--color-black100);
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: transparent;
    padding: 0.9rem 1.9rem;
    cursor: pointer;
}


.btn-transparent:hover{
    background-color: var(--color-black100);
    color: var(--color-white100);
}