.header-container{
    width: 100%;
    background-color: var(--color-bgblack);
    display: flex;
    justify-content:start;
    padding-bottom: 2.2rem;


    .header-left-container{
        width: 30%;
        display: flex;
        justify-content: center;


        .img{
            width: 143px;
            height: 25px;
            margin-top: 2.2rem;
        }
    }


    .header-centre-container{
        width: 35%;

        nav{

            ul{
                display: flex;
                justify-content: space-between;
                gap: 34px;
                padding-top: 2.2rem;
                li{
                    display: flex;
                    justify-content: center;
                    list-style-type: none;
    
                    a{
                        text-decoration: none;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 25px; 
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        color:var(--color-white100)
                    }
                    a:active{
                        color:#D87D4A;
                    }
                }
            }
        }
    }


    .header-right-container{
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;     

        img{
            padding-top: 2rem;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px){
    .burg-menu-container{
        display: none;
    }
}
@media screen and (max-width: 900px){
    .header-right-container{
       position: relative;  

        .card-img{
            position: absolute;
            right: 30px;
        }
    }
}
@media screen and (max-width: 768px){
    .header-left-container{
        display: flex;
        img{
            transform: translateX(4rem);
        }
    }
    .header-centre-container{
        display: none;
    }

    .burg-menu-container{
        width: 70vw;
        display: flex;
        position: absolute;
        
        .burg-menu-icon{
            position: absolute;
            left: 2.4rem;
            top: 2.4rem;
        }
        nav{
            width: 150%;
            height: 100vh;
            position: absolute;
            display: flex;
            justify-content: flex-start;
            z-index: 30;
            top: -70px;  
        }

        .burg-menu-icon{
            display: flex;
        }

        .none{
            display: none;
        }

       
        .burg-menu-list{
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        nav{
            display: flex;
        }
    }

    .header-left-container{
        justify-content: end;
        padding-left: 2rem;
    }

    .header-right-container{
        position: absolute;
        right: 40px;
        top: 34px;
    }
}

@media screen and (max-width: 710px) {
    header{
        min-width: 100%;
    }
    .burg-menu-container{
        nav{
            top: 130px;
        }
    }
}

@media screen and (max-width: 440px){
    .header-left-container{
        
        .img{
            translate: 4rem;
        }
    }

    .header-right-container{
        min-width: 100%;
        width: 100%;
        .card-img{
           transform: translateX(3rem);
        }
    }

    .burg-menu-icon{
        position: absolute;
        left: 2.4rem;
        top: 2.4rem;
    }

    .burg-menu-container{
        nav{
            width: 150%;
        }
    }
}

@media screen and (max-width: 340px) {

    .header-left-container{
        width: 100%;
        .img{
            translate: 2rem;
        }
    }
}