footer{
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-black10);
    position: relative;
    


    .rentacle-img{
        translate: 10rem -0.7rem;
        
    }

   .footer-container{
     position: relative;
     width: 100%;
     padding-top: 3rem;
     

    .head-bottom-cnt{
        width: 100%;
        display: flex;
        

        .img-audiofile{
            width: 59%;
            padding-left: 10rem;
        }

        .footer-menu-cnt{
            width: 41%;
            padding-left: 2.2rem;
            nav{
                width: 100%;
                ul{
                    display: flex;
                    gap: 20px;

                    li{
                        display: flex;
                        justify-content: start;
                        list-style-type: none;

                        a{
                            text-decoration: none;
                            font-size: 13px;
                            text-transform: uppercase;
                            color:var(--color-white100);
                            font-weight: 700;
                        }
                        a:active{
                            color: #D87D4A;
                        }
                    }
                }
            }

        }

    }
    .footer-text-cnt{
        width: 100%;
        display: flex;
        flex-direction: column;
        

        p{
            width: 50%;
            color: var(--color-white100);
            padding-left: 10rem;
            line-height: 25px;
            font-size: 15px;
            padding-top: 2.2rem;;
            padding-bottom: 3.7rem;
        }

        .text-icon-cnt{
            display: flex;
            justify-content: space-between;
            padding-bottom: 3rem;

            .span-text{
                padding-left: 10rem;
                span{
                    font-size: 15px;
                    color: var(--color-white100);
                }
            }

            .icon-cnt{
                display: flex;
                gap: 0.4rem;
                padding-right: 14.8rem;
                

                img{
                    cursor: pointer;
                }
                img:hover{
                    background-color: #D87D4A;
                }
            }
        }
    }
   }   
}

// @media screen and (max-width: 980px){
//     nav{
//         translate: -4rem;
//     }
// }

@media screen and (max-width: 820px) {
footer{
    .rentacle-img{
       transform: translateX(-7rem);
    }
    .head-bottom-cnt{
        flex-direction: column;
        padding-left: 19px;

        .img-audiofile{
            transform: translateX(-7.8rem);
            padding-bottom: 2rem;
        }
    }

    .footer-text-cnt{

        p{
            min-width: 100%;
            transform: translateX(-7rem);
        }
    }

    .text-icon-cnt{
       .span-text{
        width: 50%;
        position: relative;
        span{
            position: absolute;
            left: 3rem;
        }
       }

       .icon-cnt{
        width: 50%;
        a{
            width: 100%;
            img{
                align-self: flex-end;
                transform: translateX(13rem);
            }
        }

       }
    }
}
}

@media screen and (max-width: 598px) {
    .icon-cnt{
        width: 50%;
        margin-right: 18px;

        a{
            width: 100%;
            transform: translateX(-120px);
            padding: 12px;
        }

    }
}



@media screen and (max-width: 480px) {
    footer{
        display: flex;
        justify-content: center;

        .rentacle-img{
            position: absolute;
            left: 30%;
        }

        .footer-container{  
            position: relative;    
            .head-bottom-cnt{
                justify-content: center;
                .img-audiofile{
                    position: relative;
                    left: 27%;
                }

                .footer-menu-cnt{
                    width: 100%;
                    nav{
                        width: 100%;
                        padding-left: 0;
                        margin-left: 0;
                        ul{
                            flex-direction: column;
                            align-items: center;
                            transform: translateX(-10px);
                        }
                    }
                }
            }
        }

        .footer-text-cnt{
            width: 100%;
            position: relative;
           
            p{
                width: 100%;
                position: relative;
                text-align: center;
                position: relative;
                left: 10%;
            }

            .text-icon-cnt{
                flex-direction: column;
                position: relative;
                left: 20%;

                .span-text{
                    margin-bottom: 88px;
                    width: 100%;
                    span{
                        transform: translateX(-32px);
                    }
                }

                .icon-cnt{
                    display: flex;
                    position: relative;

                    a{
                        margin: 4px;
                    }
                }
            }
    }
    }
}


@media screen and (max-width: 390px) {
 footer{
    .rentacle-img{
        img{
            transform: translateX(-40px);
        }
    }

    .footer-container{
        .head-bottom-cnt{
            .img-audiofile{
                img{
                    transform: translateX(-40px);
                }
            }
        }
    }

    .span-text{
        transform: translateX(-40px);
    }

    .icon-cnt{
        a{
            transform: translateX(-180px);
            display: flex;
            margin: 8px;
        }
    }
 }      
}