.countinput-cnt{
    width: 120px;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--color-grey10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    .decrease{
        cursor: pointer;
        color: var(--color-black100);
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: 0.25;
        border: none;
        padding: 8px;

    }
        .decrease:hover{
            color: var(--color-chokolate100);
            opacity: 1;
        }
    .increase{
        cursor: pointer;
        color: var(--color-black100);
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: 0.25;
        border: none;
        padding: 8px;
    }
    .increase:hover{
        color: var(--color-chokolate100);
        opacity: 1;
    }


    .count{
        color: var(--color-black100);
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}